__pycache__/
*.py[cod]
*$py.class

src/models/saved_weights/

.vscode/
.env
*.log
.venv/
venv/
env/
.DS_Store

data/raw_table/*.csv
data/processed/*.csv

*.db
*.db-journal
*.sqlite3

.DS_Store
Thumbs.db